<html>
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">
      var map = L.map('map').setView([14.23, 75.9], 6);
      L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
    }).addTo(map);
<% @lat_long_group.each do |key, val| %>
  var circle = L.circle([<%=key.first %>, <%=key.last%> ], <%=val*500%>, {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5
          }).addTo(map);
    <% end %>
</script>
  </body>
</html>
