// Place all the styles related to the garbage_tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { height: 1000px; }
h3 { color: #DFEE48 !important; }
body { background-image: url('/clean_man.png'); background-repeat: none; }
